@font-face {
    font-family: "FH Phemister";
    src: url("/fonts/FHPhemister/FHPhemister-Light.woff2") format("woff2");
    font-display: block;
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "FH Phemister";
    src: url("/fonts/FHPhemister/FHPhemister-Regular.woff2") format("woff2");
    font-display: block;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "FH Phemister";
    src: url("/fonts/FHPhemister/FHPhemister-Bold.woff2") format("woff2");
    font-display: block;
    font-style: normal;
    font-weight: 600;
}
